<p class="lead gen-page-title">Don't worry, {{user.firstName}}! It is okay to change answers.</p>

<div class="errormessage alert" id="updateAnswerErrorMessage"></div>
<form method="POST" action="/{{user.username}}/process-changequestion" id="changeQuestionForm" name="changeQuestionForm" class="jumbotron container form-style questionnaire-container">
    {{#each questionnaire as |aQuestion|}}
        <p class="lead questionnaire-question">{{aQuestion.question}}</p>

        <input type="radio" name="question{{@index}}" id="question" class="question{{@index}}" value="1">
        <label for="question">1</label>

        <input type="radio" name="question{{@index}}" id="question" class="question{{@index}}" value="2">
        <label for="question">2</label>

        <input type="radio" name="question{{@index}}" id="question" class="question{{@index}}" value="3">
        <label for="question">3</label>

        <input type="radio" name="question{{@index}}" id="question" class="question{{@index}}" value="4">
        <label for="question">4</label>

        <input type="radio" name="question{{@index}}" id="question" class="question{{@index}}" value="5">
        <label for="question">5</label>

    {{/each}}
    <br>
    <input type="submit" id="update-answer-button" class="btn btn-danger gen-button" value="Update Answers">
</form>

<p id="user-answers">{{userResponses}}</p>
<button class="btn btn-success btn-block link-button gen-button"><a href="/{{user.username}}/profile">Back to Profile</a></button>
<br><br>
