{{#if users}}
    <div class="match-page-title"><h1 class="gen-page-title">Look! Here are your Matches.</h1></div>
    {{#each users as |user|}}
        <div class="match row">
            <div class="col-md-3"></div>
            <div class="col-md-3 match-image"><img class="img-fluid img-thumbnail" src="/images/{{user.username}}.jpg" alt="A picture"></div>
            <div class="col-md-3 match-description">
                <p>{{user.username}}</p>
                <p>{{user.description}}</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    {{/each}}
{{else}}
    <div>
        <p class="gen-page-title">Oops! We haven't found any matches for you yet 😞. Hopefully you will find
        someone at a later time. So, please check back.</p>
    </div>
{{/if}}
<hr>
<div class="end-matches-button"><button class="btn btn-success gen-button link-button"><a href="/{{thisUser}}/profile">Back to Profile</a></button></div>
<br><br>