<p class="lead gen-page-title">Answer the questions in a scale rate of 1 to 5: 1 being
"Strongly Disagree" and 5 being "You Strongly agree".
</p>
<p class="gen-page-title">Questionnaire for {{username}}</p>

<form method="POST" action="/{{username}}/process-questionnaire" class="container jumbotron questionnaire-container">
    {{#each questionnaire as |aQuestion|}}
        <p class="lead questionnaire-question">{{aQuestion.question}}</p>

        <input type="radio" name="question{{@index}}" id="question" value="1">
        <label for="question">1</label>

        <input type="radio" name="question{{@index}}" id="question" value="2">
        <label for="question">2</label>

        <input type="radio" name="question{{@index}}" id="question" value="3">
        <label for="question">3</label>

        <input type="radio" name="question{{@index}}" id="question" value="4">
        <label for="question">4</label>

        <input type="radio" name="question{{@index}}" id="question" value="5">
        <label for="question">5</label>
        <hr>
    {{/each}}
    <br>
    <button type="submit" class="btn btn-success gen-button">Submit Responses</button>
</form>